@use '/src/styles/theme/main' as utils;

h1 {
    text-align: center;
    color: utils.$text-color;
}

a {
    color: utils.$text-color;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}