@use '/src/styles/theme/main' as utils;


.all-characters-page {
    background-color: #EEE;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 2rem;

    h1 {
        text-align: center;
        margin: 0;
    }
}