@use '/src/styles/theme/main' as utils;

.detail-character {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: utils.$page-padding;

        &__body {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            gap: 1rem;

            &__image {
                max-height: 500px;
                display: flex;
                align-items: center;
                justify-content: center;
                overflow: hidden;
                padding: 1.25rem;
                @include utils.border-round-corner(0.2rem);

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    display: block;
                }
            }

            p {
                max-width: 1000px;
                text-align: left;
            }
    }
}