@use '/src/styles/theme/main' as utils;

.characters-table {
	width: 100%;
	overflow-x: auto;
	font-family: inherit;

	table {
		width: 100%;
		border-collapse: collapse;
		table-layout: auto;
	}

	th {
		padding: 0;
		margin: 0;
	}
	
	&__th {
		@extend %row-bordered;
		text-align: left;
		font-weight: bold;
		background: #C5C5C5;
		

		&.sortable {
			cursor: pointer;
			user-select: none;
		}
	}

	&__td {
		@extend %row-bordered;
		vertical-align: top;
		background: white;
	}

	&__tr {
		&.clickable { cursor: pointer; }
		&:hover { background-color: rgba(0,0,0,0.1); }
	}

	&__filters-bar {
		display: flex;
		margin-bottom: 0.5rem;
		margin-top: 0.5rem;
		justify-content: space-between;
		align-items: center;
		width: 100%;

		&-left {
			display: flex;
			gap: 1rem;

			&-filter-button {
				padding: 6px 10px;
				border-radius: 4px;
				color: utils.$text-color;
				background: utils.$background-color;
				border: 1px solid rgba(0,0,0,0.12);

				.filters-icon {
					display: inline-block;
					width: 16px;
					height: 16px;
					margin-right: 8px;
					vertical-align: middle;
					color: inherit;
				}
			}

			input {
				min-width: 400px;
				padding: 6px 10px;
				border-radius: 4px;
				border: 1px solid rgba(0,0,0,0.12);
			}
		}

		&-filters {
			display: flex;
			width: fit-content;
			gap: 1rem;
			transition: all 0.3s ease;
			margin-bottom: 1rem;
		}

		&-add-button {
			padding: 6px 10px;
			border-radius: 4px;
			background: utils.$button-color;
			border: none;
			color: utils.$button-text-color;
		}
	}
}

.footer-pagination {
	margin-top: 1.5rem;
	display: flex;
	align-items: center;
    width: 100%;
	gap: 1rem;

	&__label {
		margin-left: auto;
		font-size: 0.9rem;
		color: rgba(0,0,0,0.7);
	}

	&__info {
		font-size: 0.95rem;
		color: rgba(0,0,0,0.85);
	}

	&__button {
		background: utils.$background-color;
		border: 1px solid rgba(0,0,0,0.12);
		padding: 6px 10px;
		border-radius: 4px;
		cursor: pointer;
		font-size: 0.9rem;

		&:disabled {
			opacity: 0.5;
			cursor: not-allowed;
		}
	}

	&__select {
		padding: 6px 8px;
		border: 1px solid rgba(0,0,0,0.12);
		border-radius: 4px;
		background: white;
	}
}
